<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for (@post) do |f| %>

<table>
  <tr>
    <td><%= f.label :content,'Content:' %></td>
  	<td><%= f.text_field :content %></td>
  </tr>
   <tr>
  	<td><%= f.hidden_field :user_id %></td>
  </tr>
  <tr><td> <%=f.submit %> </td></tr> 
</table>
<%end%>